<%
    var cssClass = "style" + (index % 12 + 1);
%>

<% let hide = false %>
<% item.tags.map(tag => {hide = hide ? true : 'DaVinci Challenge' == tag.name}) %>
<% if(!hide) { %>
<article class="<%- cssClass %>">
    <span class="image">
        <img src="<%- item.cover_index ? (item.path + item.cover_index) : theme.default_cover_index %>" alt="" />
    </span>
    <a href="<%- config.root %><%- item.path %>">
        <h2><%- item.title || theme.default_post_title || "Untitled" %></h2>
        <div class="content">
            <span><%- item.subtitle || "" %></span>
        </div>
    </a>
</article>
<% } %>
