<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <section>
            <h2>About</h2>
            <div>
                <%- theme.about_footer %>
            </div>
        </section>
        <section>
            <h2>Follow Me</h2>
            <ul class="icons">
            <% function social(link, faIcon, label) {%>
                <% if (link) { %>
                    <li class="icon">
                        <a href="<%- link %>" class="icon" target="_blank">
                        <span class="icon style2">
                            <i class="<%- faIcon %>"></i>
                        </span>
                        </a>
                    </li>
                <% } %>
            <% } %>
            <%- social(theme.gitlab_url, "fab fa-gitlab", "GitLab") %>
            <%- social(theme.github_url, "fab fa-github", "GitHub") %>
            <%- social(theme.linkedin_url, "fab fa-linkedin", "GitHub") %>
            </ul>
        </section>
    </div>
</footer>
